$primary-font: "Raleway", sans-serif;
$secondary-font: "Montserrat", sans-serif;
$background-color: #ffffff;
$black: #000000;
$grey-light: grey;
$blackish: #2a2a2a;

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

*,
*::before,
*::after {
 box-sizing: inherit;
}

.clearfix {
 zoom: 1;
}

body {
 background-color: $background-color;
 font-family: $primary-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: $primary-font;
}

.top {
 text-transform: uppercase;
 padding: 0.7rem 0 0 1rem;
 letter-spacing: -0.1rem;
}

.scarecrow {
 padding: 3rem 2.5rem 1rem 2.5rem;
 width: 70%;
 height: 70%;
}

.big-heading {
 display: inline-block;
 margin: 1.5rem 1rem 1rem 1.4rem;
 letter-spacing: 3px;
 font-weight: 700;
 line-height: 1.4;
 font-size: 2.3rem;
 letter-spacing: 0.2rem;
 color: $black;
}

.info-block {
 display: inline-block;
 padding: 0rem 3rem 2rem 1.4rem;
 font-weight: 400;
 line-height: 1.3;
 color: $blackish;
 letter-spacing: 0.1rem;
 font-size: 1rem;
}

.button-homepage {
 display: inline-block;
 color: $background-color;
 height: 3rem;
 width: 8rem;
 background-color: $black;
 text-align: center;
 margin: 1rem 3rem 2rem 1.4rem;
 text-transform: uppercase;
 font-size: 0.7rem;
 padding: 0.2rem 0.7rem 0.2rem 0.7rem;
 font-weight: 500;
}

footer {
 font-size: 0.6rem;
 text-align: right;
 margin: 3rem 3rem 2rem 1rem;
}
