*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  border: 0;
}

.clearfix {
  zoom: 1;
}

body {
  background-color: #ffffff;
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@media only screen and (min-device-width: 768px) {
  .panel {
    background-color: #ffffff;
    margin: 1rem auto;
    max-width: 768px;
    padding: 2rem;
    border-radius: 1rem;
  }
  .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-transform: uppercase;
    margin: 0.2rem 0 3.5rem 0.5rem;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.1rem;
    font-family: "Inconsolata", monospace;
    font-weight: bold;
    color: #000000;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .wrapper__image {
    width: 50%;
    padding-top: 2rem;
  }
  .wrapper__image img {
    width: 100%;
    max-width: 100ch;
  }
  .wrapper__content {
    padding: 1rem;
  }
  .wrapper__content__big__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1.5rem 0.1rem 1rem 0.1rem;
    font-size: 2.8rem;
    line-height: 4rem;
    letter-spacing: -0.035em;
    font-weight: bold;
    font-family: "Space Mono", monospace;
    color: #333333;
  }
  .wrapper__content__info__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Space Mono", monospace;
    color: #4f4f4f;
    font-size: 1.1rem;
    line-height: 1.7;
    letter-spacing: -0.035em;
    margin: 2rem 0rem 4rem 0rem;
  }
  .wrapper__content__button__homepage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: relative;
    background-color: #333333;
    color: #ffffff;
    font-family: "Space Mono", monospace;
    font-size: 0.8rem;
    line-height: 1.32rem;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    font-weight: bold;
    width: 12rem;
    height: 4rem;
    margin: 0rem 0rem 8rem 0rem;
    text-align: center;
    vertical-align: middle;
    padding: 1.3rem 2rem 1.2rem 2rem;
    border: none;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 0.7rem;
    line-height: 1rem;
    margin-bottom: 0rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #000000;
  }
  footer a:link {
    text-decoration: none;
    color: #000000;
  }
  footer a {
    color: inherit;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1439.9px) {
  .panel {
    background-color: #ffffff;
    margin: 2rem auto;
    max-width: 1000px;
    padding: 2rem;
    border-radius: 1rem;
  }
  .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-transform: uppercase;
    margin: 0.2rem 0 3.5rem 2rem;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.1rem;
    font-family: "Inconsolata", monospace;
    font-weight: bold;
    color: #000000;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem;
    margin-top: 12rem;
  }
  .wrapper__image {
    padding: 0rem;
    width: 75%;
  }
  .wrapper__image img {
    width: 100%;
  }
  .wrapper__content {
    padding: 0rem;
  }
  .wrapper__content__big__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0rem 0rem 2rem 5rem;
    font-size: 3rem;
    line-height: 4.2rem;
    letter-spacing: -0.035em;
    font-weight: bold;
    font-family: "Space Mono", monospace;
    color: #333333;
  }
  .wrapper__content__info__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Space Mono", monospace;
    color: #4f4f4f;
    font-size: 1.2rem;
    line-height: 1.7;
    letter-spacing: -0.035em;
    margin: 2rem 11rem 3rem 5.3rem;
  }
  .wrapper__content__button__homepage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: relative;
    background-color: #333333;
    color: #ffffff;
    font-family: "Space Mono", monospace;
    font-size: 0.8rem;
    line-height: 1.32rem;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    font-weight: bold;
    width: 12rem;
    height: 4rem;
    margin: 0rem 0rem 10rem 5.3rem;
    text-align: center;
    vertical-align: middle;
    padding: 1.3rem 2rem 1.2rem 2rem;
    border: none;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 0.7rem;
    line-height: 1rem;
    margin-top: 12rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #000000;
  }
  footer a:link {
    text-decoration: none;
    color: #000000;
  }
  footer a {
    color: inherit;
  }
}

@media only screen and (min-device-width: 1440px) {
  .panel {
    background-color: #ffffff;
    margin: 2rem auto;
    max-width: 1400px;
    padding: 2rem;
    border-radius: 1rem;
  }
  .top {
    font-size: 1.5rem;
  }
  .wrapper {
    margin-top: 12rem;
    padding: 0rem;
  }
  .wrapper__image {
    padding: 0rem;
    width: 75%;
  }
  .wrapper__image img {
    width: 100%;
  }
  .wrapper__content {
    padding: 0rem;
  }
  .wrapper__content__big__heading {
    margin: 1rem 0rem 1rem 8rem;
    font-size: 4rem;
    line-height: 5.8rem;
    letter-spacing: -0.035em;
  }
  .wrapper__content__info__block {
    font-size: 1.5rem;
    line-height: 2.2rem;
    letter-spacing: -0.035em;
    margin: 2rem 18rem 4rem 8.5rem;
  }
  .wrapper__content__button__homepage {
    margin: 0rem 0rem 0rem 8.5rem;
  }
  footer {
    margin-top: 17rem;
  }
}

@media only screen and (max-width: 767.9px) {
  .top {
    text-transform: uppercase;
    margin: 2rem 0 2rem 2.5rem;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1.4rem;
    font-family: "Inconsolata", monospace;
    font-weight: bold;
    color: #000000;
  }
  .scarecrow {
    padding: 0;
    width: 100%;
  }
  .wrapper__content__big__heading {
    display: inline-block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 3rem 0.1rem 1rem 0.1rem;
    font-size: 2.8rem;
    line-height: 4rem;
    letter-spacing: -0.035em;
    font-weight: bold;
    font-family: "Space Mono", monospace;
    color: #333333;
  }
  .wrapper__content__info__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Space Mono", monospace;
    color: #4f4f4f;
    font-size: 1.1rem;
    line-height: 1.7;
    letter-spacing: -0.035em;
    margin: 0.8rem 0rem 4.5rem 0rem;
  }
  .wrapper__content__button__homepage {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: relative;
    background-color: #333333;
    color: #ffffff;
    font-family: "Space Mono", monospace;
    font-size: 0.8rem;
    line-height: 1.32rem;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    font-weight: bold;
    width: 12rem;
    height: 4rem;
    margin: 0rem 0rem 8rem 0rem;
    text-align: center;
    vertical-align: middle;
    padding: 1.3rem 2rem 1.2rem 2rem;
    border: none;
  }
  .wrapper {
    background-color: #ffffff;
    margin: 1rem auto;
    max-width: 600px;
    padding: 2rem;
    border-radius: 1rem;
    display: block;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 0.7rem;
    line-height: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #000000;
  }
  footer a:link {
    text-decoration: none;
    color: #000000;
  }
  footer a {
    color: inherit;
  }
}
/*# sourceMappingURL=style.css.map */