// variables

$primary-font: "Space Mono", monospace;
$secondary-font: "Inconsolata", monospace;
$tertiary-font: "Montserrat", sans-serif;
$background-color: #ffffff;
$black: #000000;
$grey1: #333333;
$grey2: #4f4f4f;

// base styles

*,
*::before,
*::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
 margin: 0;
 padding: 0;
 border: 0;
}

.clearfix {
 zoom: 1;
}

body {
 background-color: $background-color;
 font-family: $primary-font;
 margin: 0;
 padding: 0;
 overflow-x: hidden;
}

html {
 box-sizing: border-box;
}

*,
*:before,
*:after {
 box-sizing: inherit;
}

// tablet
@media only screen and (min-device-width: 768px) {
 .panel {
  background-color: $background-color;
  // Centered block elment
  margin: 1rem auto;
  max-width: 768px;
  padding: 2rem;
  border-radius: 1rem;
 }

 .top {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  margin: 0.2rem 0 3.5rem 0.5rem;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.1rem;
  font-family: $secondary-font;
  font-weight: bold;
  color: $black;
 }

 .wrapper {
  display: flex;
  padding: 0.5rem;
  margin-bottom: 1rem;
 }

 .wrapper__image {
  width: 50%;
  padding-top: 2rem;

  img {
   width: 100%;
   max-width: 100ch;
  }
 }

 .wrapper__content {
  padding: 1rem;
 }

 .wrapper__content__big__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0.1rem 1rem 0.1rem;
  font-size: 2.8rem;
  line-height: 4rem;
  letter-spacing: -0.035em;
  font-weight: bold;
  font-family: $primary-font;
  color: $grey1;
 }

 .wrapper__content__info__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $primary-font;
  color: $grey2;
  font-size: 1.1rem;
  line-height: 1.7;
  letter-spacing: -0.035em;
  margin: 2rem 0rem 4rem 0rem;
 }

 .wrapper__content__button__homepage {
  display: flex;
  justify-content: start;
  position: relative;
  background-color: $grey1;
  color: $background-color;
  font-family: $primary-font;
  font-size: 0.8rem;
  line-height: 1.32rem;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  font-weight: bold;
  width: 12rem;
  height: 4rem;
  margin: 0rem 0rem 8rem 0rem;
  text-align: center;
  vertical-align: middle;
  padding: 1.3rem 2rem 1.2rem 2rem;
  border: none;
 }

 footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 0.7rem;
  line-height: 1rem;
  margin-bottom: 0rem;
  font-weight: 600;
  font-family: $tertiary-font;
  color: $black;

  a:link {
   text-decoration: none;
   color: $black;
  }

  a {
   color: inherit;
  }
 }
}

// laptops
@media only screen and (min-device-width: 1024px) and (max-device-width: 1439.9px) {
 .panel {
  background-color: $background-color;
  // Centered block elment
  margin: 1rem auto;
  max-width: 1000px;
  padding: 2rem;
  border-radius: 1rem;
 }

 .top {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  margin: 0.2rem 0 3.5rem 2rem;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.1rem;
  font-family: $secondary-font;
  font-weight: bold;
  color: $black;
 }

 .wrapper {
  display: flex;
  padding: 0.5rem;
  margin-top: 12rem;
 }

 .wrapper__image {
  padding: 1rem;
  width: 50%;

  img {
   width: 100%;
  }
 }

 .wrapper__content {
  padding: 1rem;
 }

 .wrapper__content__big__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0.1rem 1rem 0.1rem;
  font-size: 2.8rem;
  line-height: 4rem;
  letter-spacing: -0.035em;
  font-weight: bold;
  font-family: $primary-font;
  color: $grey1;
 }

 .wrapper__content__info__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $primary-font;
  color: $grey2;
  font-size: 1.1rem;
  line-height: 1.7;
  letter-spacing: -0.035em;
  margin: 2rem 0rem 4rem 0rem;
 }

 .wrapper__content__button__homepage {
  display: flex;
  justify-content: start;
  position: relative;
  background-color: $grey1;
  color: $background-color;
  font-family: $primary-font;
  font-size: 0.8rem;
  line-height: 1.32rem;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  font-weight: bold;
  width: 12rem;
  height: 4rem;
  margin: 0rem 0rem 10rem 0rem;
  text-align: center;
  vertical-align: middle;
  padding: 1.3rem 2rem 1.2rem 2rem;
  border: none;
 }

 footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 0.7rem;
  line-height: 1rem;
  margin-top: 12rem;
  font-weight: 600;
  font-family: $tertiary-font;
  color: $black;

  a:link {
   text-decoration: none;
   color: $black;
  }

  a {
   color: inherit;
  }
 }
}

@media only screen and (min-device-width: 1440px) {
 .panel {
  background-color: $background-color;
  // Centered block elment
  margin: 2rem auto;
  max-width: 1300px;
  padding: 2rem;
  border-radius: 1rem;
 }

 .wrapper {
  margin-top: 12rem;
 }

 footer {
  margin-top: 12rem;
 }
}

//mobile
@media only screen and (max-width: 767.9px) {
 .top {
  text-transform: uppercase;
  margin: 2rem 0 2rem 2.5rem;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 1.4rem;
  font-family: $secondary-font;
  font-weight: bold;
  color: $black;
 }

 .scarecrow {
  padding: 0;
  width: 100%;
 }

 .wrapper__content__big__heading {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0.1rem 1rem 0.1rem;
  font-size: 2.8rem;
  line-height: 4rem;
  letter-spacing: -0.035em;
  font-weight: bold;
  font-family: $primary-font;
  color: $grey1;
 }

 .wrapper__content__info__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $primary-font;
  color: $grey2;
  font-size: 1.1rem;
  line-height: 1.7;
  letter-spacing: -0.035em;
  margin: 0.8rem 0rem 4.5rem 0rem;
 }

 .wrapper__content__button__homepage {
  justify-content: start;
  position: relative;
  background-color: $grey1;
  color: $background-color;
  font-family: $primary-font;
  font-size: 0.8rem;
  line-height: 1.32rem;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  font-weight: bold;
  width: 12rem;
  height: 4rem;
  margin: 0rem 0rem 8rem 0rem;
  text-align: center;
  vertical-align: middle;
  padding: 1.3rem 2rem 1.2rem 2rem;
  border: none;
 }

 .wrapper {
  background-color: $background-color;
  // Centered block elment
  margin: 1rem auto;
  max-width: 600px;
  padding: 2rem;
  border-radius: 1rem;
  display: block;
 }

 footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-size: 0.7rem;
  line-height: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-family: $tertiary-font;
  color: $black;

  a:link {
   text-decoration: none;
   color: $black;
  }

  a {
   color: inherit;
  }
 }
}
